* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background-color: #000;
}