* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

.section{
    background-color: rgb(0, 119, 255);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}