* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

.nav{
  background-color: lightseagreen;
  height: 60px;
  width: 100%;
}
.section{
  background-color: lightblue;
  height: 85vh;
  width: 100%;
  padding: 100px;
}

.center{
  width: 50%;
  margin: 0 auto;
  background-color: pink;
  height:100%;
  text-align: center;
}