* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

button {
    color: white;
    background-color: lightseagreen;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-weight: 600;
}


button:active {
    scale: 0.95;
}

.parent {
    padding: 20px;
    height: 100vh;
    background-color: black;
}


.wash {
    border-radius: 10px;
    margin-top: 20px;
    width: fit-content;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.Male {
    background-color: rgb(0, 179, 255);
}

.Female {
    background-color: rgb(255, 57, 163);
}

.Other {
    background: conic-gradient(violet, indigo, blue, green, yellow, orange, red, violet);
}